In [1]:
import pandas

/home/rzepinskip/miniconda3/envs/recommendation-system/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
to_read_df = pandas.read_csv("../data/raw/to_read.csv")
ratings_df = pandas.read_csv("../data/raw/ratings.csv")

In [3]:
to_read_df.head(1)

   user_id  book_id
0        9        8

In [4]:
ratings_df.head(1)

   user_id  book_id  rating
0        1      258       5

In [10]:
len(to_read_df)

912705

In [11]:
len(ratings_df)

5976479

## Duplicates

In [38]:
ratings_df[ratings_df[['user_id', 'book_id']].duplicated()]

Empty DataFrame
Columns: [user_id, book_id, rating]
Index: []

In [39]:
to_read_df[to_read_df[['user_id', 'book_id']].duplicated()]

Empty DataFrame
Columns: [user_id, book_id]
Index: []

There are no duplicates of tuple `(user_id, book_id)`.

## to_read and ratings overlap

In [56]:
merged_df = ratings_df.merge(to_read_df, on=['user_id','book_id'], 
                   how='outer', indicator=True)

In [57]:
merged_df.sample(1)

         user_id  book_id  rating     _merge
3452994     9220      794     4.0  left_only

In [58]:
len(merged_df[merged_df['_merge'] == 'both'])

2200

In [45]:
100 * len(merged_df[merged_df['_merge'] == 'both']) / len(ratings_df)

0.036810971811329044

There are 2200 occurences of situation, when user marked the book as `to_read` and rated it at the same time. We should discard such ratings(0.036% of ratings, so minor issue).

In [50]:
merged_df[['user_id', 'book_id', 'rating']].head(1)

   user_id  book_id  rating
0        1      258     5.0

In [64]:
ratings_cleaned_df = merged_df[merged_df['_merge'] == 'left_only']
ratings_cleaned_df = ratings_cleaned_df[['user_id', 'book_id', 'rating']]
ratings_cleaned_df.to_csv('tmp1.csv', index=False)

to_read_cleaned_df = merged_df[merged_df['_merge'] == 'right_only']
to_read_cleaned_df = to_read_cleaned_df[['user_id', 'book_id']]
to_read_cleaned_df.to_csv('tmp2.csv', index=False)